.card-about-service {
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Prevents image overflow */
  width: 250px; /* Fixed width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: box-shadow 0.3s; /* Smooth transition for shadow */
  background-color: #fff; /* White background */
  margin: 16px; /* Spacing around the card */
  

  
  }
  
  .card-image-about-services {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
  }
  
  .card-img-top-about-services {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 30px;
    height: 200px;
  }
  .card-body-about-service {
    text-align: center;
    height: 220px;
  }
  .btn-custom {
    border-radius: 50px;
  }
  
  
  .card-title-custom {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #08203a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .card-text-custom {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: justify;
  }
  
  .card-about-service:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 16px; /* Padding inside the content area */
  }

  /* About Page CSS Start */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-service-section {
  padding: 40px;
  text-align: center;
  background-color: #06BD46;
  color: white;
}
/* #474e5d */

.container {
  padding: 0 16px;
  margin-left: '100px'
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;

 
}

.button:hover {
  background-color: #555;
}


/* .card-body .btn btn-danger {
  margin-bottom: 10px;  
} */

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

