.admincard {
    border-radius: 15px;
    overflow: hidden;
    width: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px;
  
  }
  
  .admincard-image {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
    margin-bottom: 10px;
  }
  
  .admincard-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  .admincard-body-category {
    text-align: center;
    height: 105px;
  }
  .admincard-body-product {
    text-align: center;
    height: 165px;
  }
  .btn-custom {
    border-radius: 50px;
  }
  
  
  .card-title-custom {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #08203a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    margin-left: 25px;

  }
  
  .card-text-custom {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    margin: 5px 0;
    margin-left: 25px;


  }
  
  .admincard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .admincard:hover {
    transform: scale(1.05);
  }
  